{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-customerpage{% endblock %}

{% block content %}


<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    {% include 'navbar.html'%}
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="placeholder">
          <a data-type="all" href="#0">Download Files</a> <!-- selected option on mobile -->
        </li>
        <li class="filter-non hidden-xs"><p>Download Files</p></li>
        <li class="filter"><a href="{{page.low_resolution_file.url}}" download>Low</a></li>
        <li class="filter"><a href="{{page.med_resolution_file.url}}" download>Medium</a></li>
        <li class="filter"><a href="{{page.high_resolution_file.url}}" download>High</a></li>


      </ul> <!-- cd-filters -->
      <i class="fa fa-angle-down cd-tab-filter-after" aria-hidden="true"></i>
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->

  <div class="background-cover"></div>
  <div class="background"></div>
  <section class="cd-gallery">
    <ul>
      {% for item in page.gallery_images.all %}
      <li class="mix color">{% image item.image fill-800x800 class="img-responsive option" %}</li>
      {% endfor %}
      <li class="gap"></li>
      <li class="gap"></li>
      <li class="gap"></li>
    </ul>
    <div class="cd-fail-message">No results found</div>
  </section> <!-- cd-gallery -->

</main><!-- cd-main-content -->


    {{ page.body|richtext }}



{% endblock %}
