{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-customerindexpage{% endblock %}

{% load wagtailcore_tags %}

{% block title %}Customer{% endblock %}

{% block content %}
<div class="background"></div>
<div class="background-cover"></div>

<div id=customer_login_page>
{% include 'navbar.html'%}
<div id="customer_page">
    <form action="{% url 'search' %}" method="get">
        <input id="customer_field" pattern=".{10,}" title="10 digit cell phone number | integers only"  required type="text" name="query" placeholder="cell phone number">
        <input id="customer_submit" type="submit" value="search">
    </form>

    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4><a href="{% pageurl result %}">{{ result }}</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description|safe }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% elif search_query %}
        No results found
    {% else %}
    {% endif %}
</div>
{% endblock %}
