{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-customerpage{% endblock %}

{% block content %}


<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    {% include 'navbar.html'%}
    <div class="cd-tab-filter">
      <ul class="cd-filters">


        <li><div id="page_title">{{page.first_name|lower}}&nbsp;{{page.last_name|lower}}</div></li>

      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->
  <div class="background-cover"></div>
  <div class="background"></div>
  <section class="cd-gallery">
    <div id="customer_folder_list">
    {% for post in customer_folder %}



    <a href="{{post.url}}"><div><p>{{post.title|lower}}</p></div></a>



    {% endfor %}
  </div>

</section>




</main><!-- cd-main-content -->


    {{ page.body|richtext }}



{% endblock %}
