{% load i18n %}
{% load staticfiles %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>{% trans "Password required" %}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href='{% static "image/favicon.ico" %}'/>
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'content_filter/css/reset.css' %}"> <!-- CSS reset -->
      	<link rel="stylesheet" href="{% static 'content_filter/css/style.css' %}"> <!-- Resource style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/wesgarlock.css' %}">
    </head>
    <body id="password_required_page">
      <div class="background"></div>
      <div class="background-cover"></div>
        {% include 'navbar.html' %}

        <form id="customerpassword" action="{{ action_url }}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="{% trans 'verify' %}" class="button" />
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
        <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="OWQ4ODVhNTEtMDU0Ni00NWVjLWIzM2ItYWE2ODQzNDk4NjRlNjM2MzY1OTMzOTg5ODM4NjA1"></script>
        <script type="text/javascript" src="{% static 'content_filter/js/modernizr.js' %}"></script> <!-- Modernizr -->
        <script type="text/javascript" src="{% static 'content_filter/js/jquery.mixitup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'content_filter/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/wesgarlock.js' %}"></script>

    </body>
</html>
