{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-portfoliopage{% endblock %}

{% block content %}
{% include 'navbar.html'%}

<div id="portfolio_object">
  {% with page.main_image as main_image %}{% if main_image %}{% image  main_image class="portfolio_image" width-1024 %}{% endif %}{% endwith %}
  <div id="portfolioinfo">
    <h1>{{page.title|lower}}</h1><br>
    <h3>{{page.date}}</h3><br>
    {{ page.body|richtext }}
  </div>
</div>
{% endblock %}
