{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-portfolioindexpage{% endblock %}
{% block content %}



<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    {% include 'navbar.html'%}
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="placeholder">
          <a data-type="all" href="#0">filter <small>(click)</small></a> <!-- selected option on mobile -->
        </li>
        <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
        {% for cate in portfoliocategory%}
          <li class="filter" data-filter=".{{cate}}"><a href="#0" data-type="{{cate}}">{{cate|lower}}</a></li>
        {% endfor %}


      </ul> <!-- cd-filters -->
      <i class="fa fa-angle-down cd-tab-filter-after" aria-hidden="true"></i>
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->
  <div class="background-cover"></div>
  <div class="background"></div>
  <section class="cd-gallery">
    <ul>

      {% for post in portfoliopages%}
        {% with post=post.specific %}
          <li class="mix {% with categories=post.categories.all %}{% if categories %}{% for category in categories %}{{ category.name }} {% endfor %}{% endif %}{% endwith %} img-responsive"><a href="{% pageurl post %}">{% with post.main_image as main_image %}{% if main_image %}{% image  main_image fill-800x800 class="img-responsive" %}{% endif %}{% endwith %}</a></li>
        {% endwith %}
      {% endfor %}
      <li class="gap"></li>
      <li class="gap"></li>
      <li class="gap"></li>
    </ul>
    <div class="cd-fail-message">No results found</div>
  </section> <!-- cd-gallery -->
</main> <!-- cd-main-content -->

{% endblock %}
