{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load staticfiles %}


{% block content%}
<h3 id="home-title">wes garlock photography</h3>

<div id="home-menu">
  <ul>
    <li><a href="/portfolio">portfolio</a></li>
    <li><a href="/customer">customer</a></li>
    <li><a href="/podcast">podcast</a></li>
    <li><a href="/blog">blog</a></li>
  </ul>
</div>


<div id="home-reel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for entry in portfolio %}
      <div class="item  {% if forloop.first %}active{% endif %}" style="background-image:url('https://s3.us-east-2.amazonaws.com/wesgarlockphotography/{{entry.image.file}}')"></div>
    {% endfor %}
  </div>
</div>


{% endblock %}
