{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing pages tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for podcastpage in podcastpages %}

          <p>
              <strong><a href="{% pageurl podcastpage %}">{{ podcastpage.title }}</a></strong><br />
              <small>Revised: {{ podcastpage.latest_revision_created_at }}</small><br />
              {% if podcastpage.author %}
                <p>By {{ podcastpage.author.profile }}</p>
              {% endif %}
          </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}
