{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-podcastpage{% endblock %}

{% block content %}
<div class="cd-tab-filter-wrapper">
  {% include 'navbar.html'%}
  <div class="cd-tab-filter">
    <ul class="cd-filters">




    </ul> <!-- cd-filters -->
  </div> <!-- cd-tab-filter -->
</div> <!-- cd-tab-filter-wrapper -->

<div id="carousel-podcast" class="carousel slide" data-ride="carousel">

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">

  {% for item in page.gallery_images.all %}
      <div class="item {% if forloop.first %} active {%endif%}   ">
        <div id="carousel_podcast" style="background-image:url('https://s3.us-east-2.amazonaws.com/wesgarlockphotography/{{item.image.file}}')"></div>
      </div>
  {% endfor %}
  </div>
</div>
<audio id="podcast_audio" controls>
<source src="{{ page.podcast.url }}"></source>
</audio>

<div id="podcast_content">
    <h1>{{ page.title }}</h1>
    <br>
    <p class="meta">{{ page.date }}</p>
    <br>
    <div class="intro">{{ page.intro }}</div>
</div>






<div id="footnote-container"></div>

    {{ page.body|richtext }}




    <p><a href="{{ page.get_parent.url }}">Return to podcast</a></p>

{% endblock %}
