{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-podcastindexpage{% endblock %}

{% block content %}
<main class="cd-main-content">
  <div class="cd-tab-filter-wrapper">
    {% include 'navbar.html'%}
    <div class="cd-tab-filter">
      <ul class="cd-filters">
        <li class="placeholder">
          <a data-type="all" href="#0">filter <small>(click)</small></a> <!-- selected option on mobile -->
        </li>
        <li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
        {% for cate in podcastcategory%}
          <li class="filter" data-filter=".{{cate}}"><a href="#0" data-type="{{cate}}">{{cate|lower}}</a></li>
        {% endfor %}


      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->
  <div class="background-cover"></div>
  <div class="background"></div>
  <section class="cd-gallery">
    <ul>
      {% for post in podcastpages %}
      {% with post=post.specific %}
      <li class="mix {% with categories=post.categories.all %}{% if categories %}{% for category in categories %}{{ category.name }} {% endfor %}{% endif %}{% endwith %}"><h1>{{post.title|lower}}</h1><a href="{% pageurl post %}">{% with post.main_image as main_image %}{% if main_image %}{% image main_image fill-800x800 class="img-responsive" %}{% endif %}{% endwith %}</a></li>
      {% endwith %}
      {% endfor %}

      <li class="gap"></li>
      <li class="gap"></li>
      <li class="gap"></li>
    </ul>
    <div class="cd-fail-message">No results found</div>
  </section> <!-- cd-gallery -->
</main> <!-- cd-main-content -->
<ul class="pagination">
{% if blogpages.has_previous %}
  <li>
    <a href="?page={{ blogpages.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
  </li>
{% endif %}
{% for page_num in blogpages.paginator.page_range %}
  <li {% if page_num == blogpages.number %} class="active"{% endif %}>
    <a href="?page={{ page_num }}">{{ page_num }}</a>
  </li>
{% endfor %}
{% if blogpages.has_next %}
  <li>
    <a href="?page={{ blogpages.next_page_number }}"><i class="fa fa-angle-right"></i></a>
  </li>
  {% endif %}
</ul>
{% endblock %}
