/* Color Pallette */

/* #7EA8BE */
/* #01172F*/
/* #404E7C*/
/* #A7BED3 */
/* #D4D2D5 */

/* General Styles */



body {

}

* {
  font-variant: small-caps;
  font-family: 'Raleway';

}

.item {
  position: relative;
  display: block;
  height:1600px;
  height:900px;
  width:100vw;
  height:100vh;
  width:100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home-reel {
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

#home-menu{
  position: absolute;
  left:2.5%;
  top:50%;
  transform: translateY(-50%);
  color:white;
  z-index: 1;
  text-decoration: none;

}

#home-title {
  position: absolute;
  font-variant: small-caps;
  font-weight: lighter;
  top:2.5%;
  left:2.5%;
  color: white;
  z-index: 1;

}

#home_logo {
  position: absolute;
  width:50%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);

}

#home-menu ul > li {
  list-style: none;
  color: white;
  font-size: 1.5em;
}

#home-menu ul > li > a {
  list-style: none;
  color: white;
  font-size: 1em;
  text-shadow: 1px 0px 0px rgba(0, 0, 0, 1);
}

#home-menu ul > li > a:hover {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
}



/* Portfolio Index Page */
#logo_portfolio{
  margin-top: 50px;
  margin-left: 50px;
  height:50px;
  width:auto;
  position: relative;
  z-index: 3
}

.template-portfolioindexpage .background {
  background-image: url('/image/wes_garlock_portfolio_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

.template-portfolioindexpage .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

/* Portfolio Page */

#portfolio_object{
  position: relative;
  width:75%;
  max-width: 1024px;
  height:auto;
  margin-left:50vw;
  transform: translateX(-50%);
  margin-bottom: 50px;

}

#portfolioinfo{
  position: relative;
  z-index: 1;
  height:auto;
  width: 50%;
  margin-top: 20px;
  margin-left: 50%;
  color: #A7BED3;
}

#portfolioinfo h1{
  text-align: left;
  font-variant: small-caps;
  font-size: 1.5em;
  text-decoration: underline;
}

#portfolioinfo h3{
  text-align: right;
}

#portfolioinfo p {
  text-align: right;
  font-weight: lighter;

}

.portfolio_image{
  width:100%;
  height:auto;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 5px 5px 25px -2px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 25px -2px rgba(0,0,0,1);
  box-shadow: 5px 5px 25px -2px rgba(0,0,0,1);
}

/* Blog Page */

.mix > h1 {
  font-size: 1.5em;
  color:#A7BED3;
}

.template-blogindexpage .background {
  background-image: url('/image/wes_garlock_blog_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

.template-blogindexpage .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

#blog_page_image{
  height:100vh;
  width:100vw;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  left:0;
  margin:0;
  padding:0;
  z-index: 0;
  margin-top: 100px;
}

#blog_post_content{
  width:50vw;
  height:100vh;
  position: absolute;
  padding:2.5%;
  padding-top: 150px;
  word-wrap: break-word;
  overflow: scroll;
  bottom:0;
  right:0;
  color: #404E7C;
  background-color: rgba(167, 190, 211, .75);
  border-left: 3px;
  border-color: white;
  border-left-width: 3px;

}

#blog_post_content h3 {
  font-variant: small-caps;
  font-size: 1.5em;
  line-height: 1.5em
}

.cd-tab-filter-wrapper{
  background-color: black;
}

.richfield{
  position: relative;
  width:100%;
}

/* Customer */

.template-customerindexpage .background {
  background-image: url('/image/wes_garlock_customer_login_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

.template-customerindexpage .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

#password_required_page .background {
  background-image: url('/image/wes_garlock_customer_login_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

#password_required_page .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

#customer_page{
  background-color: transparent;
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
}

#customer_field{
  width:75vw;
  height:12.5vh;
  top:50%;
  left:0;
  transform:translateY(-50%);
  position: absolute;
  z-index: 2;
  color: grey;
  font-size: 6vh;
  text-align: center;
  font-variant: small-caps;
  font-weight: lighter;

}

#id_password {
  width:75vw;
  height:12.5vh;
  top:50%;
  left:0;
  color:grey;
  transform:translateY(-50%);
  position: absolute;
  z-index: 1;
  font-variant:normal;
  font-size: 6vh;
  text-align: center;
}

.button {
  width:25vw;
  height:12.5vh;
  top:50%;
  right:0;
  transform:translateY(-50%);
  position: absolute;
  z-index: 1;
  background-color:#404e7c;
  border-color: #a7bed3;
  color:#a7bed3;
  font-variant: small-caps;
  font-size: 6vh;
}

#customer_submit{
  width:25vw;
  height:12.5vh;
  top:50%;
  right:0;
  transform:translateY(-50%);
  position: absolute;
  z-index: 2;
  background-color:#404e7c;
  border-color: #a7bed3;
  color:#a7bed3;
  font-variant: small-caps;
  font-size: 6vh;
}

#password_required_page{
  height: 100vh;
  width:100vw;
  background-color: #404e7c;
  font-variant: small-caps;
  color:white;
  text-align: center;
  padding-top: 5%;
  width:100%
}

#customerpassword {
  position: relative;
  margin-top: 250px;
  transform: translateY(-50%);
}

#download_customer{
  text-decoration: none;
  color:#404E7C
}
#download_customer:hover{
  text-decoration: none;
  color:#fff;

}

.template-customerpage .background {
  background-image: url('/image/wes_garlock_customer_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

.template-customerpage .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

#customer_folder_list{
width:100%;


}

#customer_folder_list > a > div {
width:100%;
text-align: center;
height:100px;
border: 1px white solid;
text-decoration: none;
}
#customer_folder_list > a > div:hover {
  border: 2px white solid;
  font-size: 1.25em;
  text-decoration: none;
  background-color: black;
}

#customer_folder_list > a > div > p {
 line-height: 100px;
 text-decoration: none;
 color:white;
}

/* Search */

#search_result{
  background-color: #01172F;
  width:100vw;
  height:100vh;
  position: absolute;
  top:0;
  left:0;
}

#result{
  color:#a7bed3;
  font-weight: lighter;
  text-align: center;
  text-decoration: none;
  font-size: 6vh;
  top:50%;
  left:0;
  transform: translateY(-50%);
  position: absolute;
  z-index: 3;
  width:100vw;
}

#result:hover{
  color:#d4d2d5;
  font-size: 6vh;
}
.option{
  position: relative;
  margin-top: -14px;
}
.customer_radio_box{
  position: relative;
  z-index: 1;
}
.cd-tab-filter-wrapper{
  z-index: 2;
}
.filter-non > p {
  color:#404E7C
}

#page_title{
  font-size: 1.5em;
  color:#404E7C;
}

/* Podcast */

#carousel_podcast{
  height: 100vh;
  width:100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#carousel-podcast{
  position: absolute;
  top: 0;
  left:0;
  z-index: 0;
}

#podcast_audio{
  width: 100vw;
  position: absolute;
  bottom: 0;
  left:0;
}

#podcast_content{
  position: absolute;
  bottom: 48px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
  width:100vw;
  padding: 2.5%;
  color:white;
}

.checkbox-label{
  color:grey;
}

.template-podcastindexpage .background {
  background-image: url('/image/wes_garlock_podcast_page_image.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -10;
}

.template-podcastindexpage .background-cover {
  background-color: rgba(0,0,0,0.75);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top:0;
  height:100vh;
  width: 100vw;
  z-index: -9;
}

/* Products */

.product-description h3{
  display: inline;
  float: right;
  color: #404E7C;
  font-variant: small-caps;
  font-weight: lighter;
}
.product-description p{
  color: #404E7C;
  font-variant: small-caps;
  font-weight: lighter;
}

.product_title{
  font-size: 1.5em;
}

.icon-bar{
  background-color: #A7BED3;
}

.cd-tab-filter-wrapper{
  position: fixed;
  width:100%;
}

.navbar {
  margin-bottom: 0px;
  z-index: 6;
}

.navbar-brand {
  padding:0;
}

.navbar-brand img {
  padding-left: 15px;
  width: 50px;
  height: 50px;
}

.navbar-nav li > a {
  color: #A7BED3;
  font-variant: small-caps;
  font: 'Raleway';
  font-variant-caps:small-caps;
  font-variant-ligatures:normal;
  font-variant-numeric:normal;
  font-weight:normal;
}

.navbar-nav li > a:hover {
  font-size: 1.25em;
  background-color: transparent;
}


.cd-gallery, .cd-main-content.is-fixed .cd-gallery{
  padding-top:125px;
}

.cd-tab-filter a.selected {
  color:#9a9a9a;
  font-weight: bold;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #2b2b2b;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #a7bed3;
  background-color: #eeeeee;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #2b2b2b;
  border-color: #2b2b2b;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777777;
  background-color: #ffffff;
  border-color: #dddddd;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.pagination{
  margin-left: 50vw;
  transform: translateX(-50%);
}
.pagination li > a > i {
  color: #2b2b2b
}

.social_media {
  position: fixed;
  bottom:0;
  right:0;
  z-index: 10;
  color: #A7BED3;
  font-size: 2em;
  padding: 10px;
}

#email{
  position: relative;
  display: inline;
  margin-right: 5px;

}

#facebook{
  position: relative;
  display: inline;
  margin-right: 5px;
}

#instagram{
  position: relative;
  display: inline;
}



@media screen and (max-width: 768px){
  #portfolio_object{
    position: relative;
    width:100%;
    height:auto;
    margin-left:50%;
    margin-bottom: 50px;
    padding-left: 3%;
    padding-right: 3%;
  }

  #portfolioinfo{
    position: relative;
    z-index: 1;
    height:auto;
    width: 100%;
    margin-top: 20px;
    margin-left: 0%;
    color: #A7BED3;
  }

  .portfolio_image{
    width:100%;
    height:auto;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0);
    -moz-box-shadow: 5px 5px 25px -2px rgba(0,0,0,0);
    box-shadow: 5px 5px 25px -2px rgba(0,0,0,0);
  }

  /* Blog Page */

  #blog_page_image{
    height:100vh;
    width:100vw;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top:0;
    left:0;
    margin:0;
    padding:0;
    z-index: 0;
    margin-top: 100px;
  }

  #blog_post_content{
    width:100vw;
    height:100vh;
    position: absolute;
    padding:2.5%;
    padding-top: 150px;
    word-wrap: break-word;
    overflow: scroll;
    left:auto;
    bottom:auto;
    right:auto;
    left:0;
    color: #404E7C;
    background-color: rgba(167, 190, 211, .75);
    border-left: 3px;
    border-color: white;
    border-left-width: 3px;
  }

  /* Customer */
  #customer_field{
    width:75vw;
    height:12.5vh;
    top:50%;
    left:0;
    transform:translateY(-50%);
    position: absolute;
    z-index: 2;
    color: grey;
    font-size: 3vh;
    text-align: center;
    font-variant: small-caps;
    font-weight: lighter;

  }

  #customer_submit{
    width:25vw;
    height:12.5vh;
    top:50%;
    right:0;
    transform:translateY(-50%);
    position: absolute;
    z-index: 2;
    background-color:#404e7c;
    border-color: #a7bed3;
    color:#a7bed3;
    font-variant: small-caps;
    font-size: 3vh;
  }

  .cd-tab-filter {
    background-color: #A7BED3;
    text-align: center;
  }

  .cd-tab-filter{
    margin:0;
    width:100vw;

  }

  .cd-tab-filter a {
    padding:0;
    margin:0;
    width:100vw;
    background-color: #A7BED3;

  }

  .cd-filters{
    width:100%;

  }

  #id_password {
    font-size: 3vh;
  }

  .button {
    font-size: 3vh;
  }

}
