{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<div class="cd-tab-filter-wrapper">
  {% include 'navbar.html'%}
  <div class="cd-tab-filter">
    <ul class="cd-filters">




    </ul> <!-- cd-filters -->
  </div> <!-- cd-tab-filter -->
</div> <!-- cd-tab-filter-wrapper -->
</div>
  <div id="search_result">
    {% if search_results %}
        <ul>
            {% for result in search_results %}
                <li>
                    <h4 id="result"><a id="result" href="{% pageurl result %}">proceed to verify</a></h4>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}

        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% elif search_query %}
        No Customer Records
    {% endif %}
  <div>
{% endblock %}
