{% extends "base.html" %}
{% load staticfiles %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div id="background-nav">
  <div class="cd-tab-filter-wrapper">
    {% include 'navbar.html'%}
    <div class="cd-tab-filter">
      <ul class="cd-filters">




      </ul> <!-- cd-filters -->
    </div> <!-- cd-tab-filter -->
  </div> <!-- cd-tab-filter-wrapper -->
</div>
{% for item in page.gallery_images.all %}
  <div id="blog_page_image" style="background-image:url('https://s3.us-east-2.amazonaws.com/wesgarlockphotography/{{item.image.file}}')"></div>
{% endfor %}

    <div id=blog_post_content>
    <h3 id="page_title_page">{{page.title|lower}}</h3>
    <br>
    <h3 class="meta"> published: {{ page.date|lower }}</h3>
    <br>
    <h3>intro</h3>
    <div class="intro">{{ page.intro }}</div>
    <br>
    <h3>body</h3>
    {{ page.body|richtext }}
</div>
<p id="parent_url"><a href="{{ page.get_parent.url }}">Return to blog</a></p>
{% endblock %}
