{% extends "base.html" %}
{% load staticfiles %}
 {% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}
 {% block body_class %}template-homepage{% endblock %}

 {% block content %}

   {% include "snipcart.html" %}
{% include 'navbar.html'%}
   <main class="cd-main-content">
     <div class="cd-tab-filter-wrapper">
     <section class="cd-gallery">
       <ul>
         {% for product in page.get_children.specific %}
          <li class="mix {% with categories=post.categories.all %}{% if categories %}{% for category in categories %}{{ category.name }} {% endfor %}{% endif %}{% endwith %}">
            <a href="{{product.url}}">
            {% with product.main_image as main_image %}{% if main_image %}{% image main_image fill-800x800 class="img-responsive" %}{% endif %}{% endwith %}
            <div class="product">
              <a class="product_title" href="{{product.url}}">{{product.title|lower}}</a>
              <div class="product-details">
                <div class="product-description">
                  <p>{{ product.description }}</p>
                  <h3>
                    ${{ product.price }}
                  </h3>
                </div>
              </div>
            </div>
            </a>
          </li>

         {% endfor %}

         <li class="gap"></li>
         <li class="gap"></li>
         <li class="gap"></li>
       </ul>
       <div class="cd-fail-message">No results found</div>
     </section> <!-- cd-gallery -->

     <div class="cd-filter">
       <form>
         <div class="cd-filter-block">
           <h4>Check boxes</h4>

           <ul class="cd-filter-content cd-filters list">
             {% for category in ecommcategory %}
             <li>
               <input class="filter" data-filter=".{{category}}" type="checkbox" id="checkbox{{forloop.counter}}">
                 <label class="checkbox-label" for="checkbox{{forloop.counter}}">{{category}}</label>
             </li>
             {% endfor %}
           </ul> <!-- cd-filter-content -->
         </div> <!-- cd-filter-block -->
       </form>

       <a href="#0" class="cd-close">close</a>
     </div> <!-- cd-filter -->

     <a href="#0" class="cd-filter-trigger">filters</a>
   </main> <!-- cd-main-content -->


 {% endblock %}
