{% load staticfiles %}
{% load static wagtailuserbar %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href='{% static "image/favicon.ico" %}'/>
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'content_filter/css/reset.css' %}"> <!-- CSS reset -->
      	<link rel="stylesheet" href="{% static 'content_filter/css/style.css' %}"> <!-- Resource style -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/wesgarlock.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}



        {% block content %}{% endblock %}
        <div class="social_media">
          <a id="email"  href="mailto:wesley.g.garlock@gmail.com?Subject=Hello" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          <a id="facebook"  href="https://www.facebook.com/wesley.garlock" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
          <a id="instagram" href="https://www.instagram.com/wes.garlock/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>

        {# Global javascript #}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.2.7/raphael.min.js"></script>
        <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="OWQ4ODVhNTEtMDU0Ni00NWVjLWIzM2ItYWE2ODQzNDk4NjRlNjM2MzY1OTMzOTg5ODM4NjA1"></script>

        <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
        <script src="{% static 'js/jquery.lazylinepainter-1.1.min.js' %}"></script>
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-90014692-1', 'auto');
        ga('send', 'pageview');

        </script>
        <script type="text/javascript" src="{% static 'content_filter/js/modernizr.js' %}"></script> <!-- Modernizr -->
        <script type="text/javascript" src="{% static 'content_filter/js/jquery.mixitup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'content_filter/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/wesgarlock.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
