<div class="product">

  <div class="product-details">

      <img src="{{ product.image }}" alt="{{ product.name }}" class="thumbnail"/>

      <a href="{{ product.slug }}">

        <div class="product-description">
          <p>{{ product.name }}</p>
          <p>{{ product.description }}</p>

          <button class="snipcart-add-item"
            data-item-name="{{ product.name }}"
            data-item-id="{{ product.sku }}"
            data-item-image="media/{{ product.image }}"
            data-item-url="{{ product.productAt }}"
            data-item-price="{{ product.price }}"
            data-item-description="{{ product.description }}">
            Buy it for {{ product.price }} $
          </button>
        </div>
      </a>
  </div>
</div> 
